/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

 @import "compass/reset";

 @import "bourbon/bourbon";

@import 'partials/variables'; // colors, fonts etc...

@import 'partials/mixins'; // custom mixins

@import 'partials/layout'; // responsive grid and media queries

/* --------------------------------

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: 'Neuzeit Grotesk', sans-serif;
  color: #000000;
  background-color: white;
}

body, html {
  height: 100%;
}

a {
  color: #3e3947;
  text-decoration: none;
}

img {
  max-width: 100%;
}

svg, svg * {
  pointer-events: all;
}

/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */
.cd-img-replace {
  /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.hidden {
  display: none;
}

/* --------------------------------

Main components

-------------------------------- */


/* --------------------------------

Work pages

-------------------------------- */


.work-section {
  position: relative;
  padding: 2em 0;
  margin: 0 auto;
  padding: 0 0;
  box-sizing: border-box;
  width: 100%;
}

.work {
  @include align-items(center);
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  background-color: white;
  padding-bottom: 7%;
  padding-top: 7%;
  font-family: 'Source Sans Pro', serif;
  font-weight: 500;
  line-height: 1.5;
  font-size: rem(18);
  color: $dark-gray;
  * {
    @include flex(1);
  }
  &.intro {
    margin-top: 5%;
    text-align: center;
  }

  img {
    max-width: 100%;
    height:auto;
    display:block;
    margin: 0 auto;
  }
  .text-part-ul span, .text-part-ol span {
    color: $dark-gray;
  }
}

.gray {
  background-color: $light-gray;
  color: $dark-gray;
  // padding-top: 4%;
  // padding-bottom: 9%;
  .text-part-ul span {
    color: $dark-gray;
  }
  img {
    background-color: $light-gray;
  }
}

.mobile-no-bottom-padding {
  padding-bottom: 0 !important;
}

.mobile-no-top-padding {
  padding-top: 0 !important;
}

.mobile-no-bottom-margin {
  margin-bottom: 0 !important;
}

.mobile-no-top-margin {
  margin-top: 0 !important;
}

.mobile-padding-top-2pct {
  padding-top: 1% !important;
}

.mobile-padding-bottom-2pct {
  padding-bottom: 1% !important;
}

.mobile-padding-3pct {
  padding-top: 3% !important;
  padding-bottom: 3% !important;
}

.mobile-padding-top-3pct {
  padding-top: 3% !important;
}

.mobile-padding-bottom-3pct {
  padding-bottom: 3% !important;
}

.mobile-padding-top-5pct {
  padding-top: 5.5% !important;
}

.mobile-padding-bottom-5pct {
  padding-bottom: 5.5% !important;
}

.mobile-padding-5pct {
  padding-top: 5.5% !important;
  padding-bottom: 5.5% !important;
}

.mobile-padding-top-8pct {
  padding-top: 8.4% !important;
}

.mobile-padding-9pct {
  padding-top: 9% !important;
  padding-bottom: 9% !important;
}

.mobile-padding-top-9pct {
  padding-top: 9% !important;
}

.mobile-padding-bottom-9pct {
  padding-bottom: 9% !important;
}

.mobile-padding-12pct {
  padding-bottom: 12% !important;
  padding-top: 12% !important;
}

.mobile-padding-bottom-12pct {
  padding-bottom: 12% !important;
}

.mobile-padding-top-12pct {
  padding-top: 12% !important;
}

.mobile-padding-15pct {
  padding-bottom: 15% !important;
  padding-top: 15% !important;
}

.mobile-padding-top-15pct {
  padding-top: 15% !important;
}

.mobile-padding-bottom-15pct {
  padding-bottom: 15% !important;
}

.mobile-padding-18pct {
  padding-bottom: 18% !important;
  padding-top: 18% !important;
}

.mobile-padding-top-18pct {
  padding-top: 18% !important;
}

.no-bottom-margin {
    margin-bottom: 0 !important;
  }
@include MQ(M) {
  .no-bottom-padding {
    padding-bottom: 0 !important;
  }

  .no-top-padding {
    padding-top: 0 !important;
  }

.no-bottom-margin {
    margin-bottom: 0 !important;
  }

  .no-top-margin {
    margin-top: 0 !important;
  }

  .padding-top-2pct {
    padding-top: 1% !important;
  }

  .padding-bottom-2pct {
    padding-bottom: 1% !important;
  }

  .padding-3pct {
    padding-top: 3% !important;
    padding-bottom: 3% !important;
  }

  .padding-top-3pct {
    padding-top: 3% !important;
  }

  .padding-bottom-3pct {
    padding-bottom: 3% !important;
  }

  .padding-top-5pct {
    padding-top: 5.5% !important;
  }

  .padding-bottom-5pct {
    padding-bottom: 5.5% !important;
  }

  .padding-5pct {
    padding-top: 5.5% !important;
    padding-bottom: 5.5% !important;
  }

  .padding-bottom-standard {
    padding-bottom: 7% !important;
  }

  .padding-top-standard {
    padding-top: 7% !important;
  }

  .padding-standard {
    padding-top: 7% !important;
    padding-bottom: 7% !important;
  }

  .padding-top-8pct {
    padding-top: 8.4% !important;
  }

  .padding-9pct {
    padding-top: 9% !important;
    padding-bottom: 9% !important;
  }

  .padding-top-9pct {
    padding-top: 9% !important;
  }

  .padding-bottom-9pct {
    padding-bottom: 9% !important;
  }

  .padding-12pct {
    padding-bottom: 12% !important;
    padding-top: 12% !important;
  }

  .padding-bottom-12pct {
    padding-bottom: 12% !important;
  }

  .padding-top-12pct {
    padding-top: 12% !important;
  }
}

.dark-gray-bg {
  background-color: $dark-gray;

  .work-title {
    color: $light-gray;
  }

  .text-part-p {
    color: white;
    margin-bottom: 40px;
  }
  .text-part-ul {
    color: white;
    span {
      color: white;
    }
  }
}

.phone {
  width: 60%;
  @include MQ(M) {
    width: 43%;
  }
  display:block;
  margin: 0 auto;

  img {
    margin: 6% auto 0 auto;
    // padding-left: 3%;
  }

  @include MQ(L) {
    width: 35%;
  }
}

.work-title {
  font-size: rem(38);
  font-family: 'Rufina', serif;
  font-weight: 400;
  text-align: center;
  padding-bottom: 16px;
  letter-spacing: 0.47px;
  @include MQ(M) {
    font-size: rem(48);
  }
  @include MQ(L) {
    font-size: rem(58);
  }
}

.work-subtitle {
  text-transform: uppercase;
  margin: 0 auto;
  font-size: rem(16);
  font-weight: 600;
  text-align: center;
  @include MQ(M) {
    font-size: 16px;
    margin-bottom: 16px;
  }
  &.pink {color: $pink;}
}

.work-link {
  font-weight: 600;
  font-size: rem(16);
  text-transform: uppercase;
  text-decoration: underline;
  margin-top: -16px;
  margin-bottom: 40px;
  @include MQ(M) {
    margin-bottom: 80px;
  }
  @include MQ(L) {
    font-size: 16px;
  }
}


.underline {
  width: 20%;
  margin-bottom: rem(20);
  @include MQ(M) {
    margin-bottom: rem(70);
  }
}

.underline-small {
  width: 20%;
  margin-bottom: rem(10);
  @include MQ(M) {
  }
}

.underline-big {
  width: 20%;
  margin-bottom: rem(20);
  @include MQ(M) {
    margin-bottom: rem(90);
  }

}

.pink {color: $pink;}
.text-gray {color: $dark-gray;}
.text-medium-gray {color: $medium-gray;}
.text-blue {color: $blue;}
.dark-blue {color: $dark-blue;}
.red {color: $red;}
.orange {color: $orange;}
.cg-orange {color: $cg-orange;}
.purple {color: $purple;}
.insta-purple {color: $insta-purple;}
.green {color: $green;}
.white {color: white;}
.dm-green {color: $dm-green;}
.dm-red {color: $dm-red;}
.dm-yellow {color: $dm-yellow;}
.gold {color: $dark-gold;}
.white-bg {
  background-color: white !important;
}

.text-underline {
  text-decoration: underline !important;
}
.text-img-part {
  @include leftfloat;
}

.text-part, .img-part {
  @include leftfloat;
  padding: 0 15%;
  @include MQ(M) {
    padding: 0 27%;
  }

  margin-bottom: 10px;
  color: $dark-gray;
  &.img-title {
    margin-top: 10px;
    margin-bottom: -10px;
  }
}

.right-wrapper {
  padding: 0 9%;
  @include MQ(M) {
    width: 50%;
    padding-right: 12%;
    padding-left: 5%;
  }
}

.left-wrapper {
  padding: 0 9%;
  @include MQ(M) {
    width: 50%;
    padding-right: 5%;
    padding-left: 12%;
    iframe {
      display: none;
      @include MQ(M) {
        display: inline;
        vertical-align: top;
        margin-top: -21%;
      }
      @include MQ(L) {
        margin-left: 25%;
        margin-top: 0;
        transform: scale(1);
      }
    }
  }
}

.proto-wrapper {
  display: none;
  @include MQ(M) {
    display: flex;
    margin-bottom: 0 !important;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    vertical-align: top;
    margin-top: -5%;
    padding-right: 0%;
    padding-left: 0%;
  }
  @include MQ(ML) {
    padding-right: 5%;
    padding-left: 12%;
  }
}

#iframe-wrapper {
  display: none;
  @include MQ(M) {
    display: block;
  }
}
// .bold {
//   font-weight: 600 !important;
// }

.text-part-ol {
  list-style-type: lower-roman;
  list-style-position: inside;
  font-size: rem(18);
  margin-bottom: 20px;

  li {
    text-indent: -1em;
    padding-left: 1em;
    margin-bottom: rem(5);
  }
}

.text-part-ul {
  list-style: square outside none;
  line-height: 1.6;
  margin-left: 0;
  padding-left: 1em;
  margin-bottom: 20px;
  font-size: rem(17);
  @include MQ(M) {
    line-height: 2;
  }
  @include MQ(L) {
    font-size: rem(22);
  }
  li {
    padding-left: 1em;
    margin-bottom: rem(5);
  }
  &.pink {color: $pink;}
}

.work-text-wrapper{
  @include leftfloat;
}

.text-part-title {
  text-transform: uppercase;
  margin: 0 auto 14px auto;
  font-weight: 600;
  font-size: rem(12);
  @include MQ(M) {
    font-size: rem(16);
    margin: 10px auto 20px auto;
  }
  @include MQ(L) {
    font-size: rem(20);
    margin-bottom: 28px;
  }
}

.text-part-subtitle {
  font-size: rem(16);
  color: $dark-gray;
  font-variant: small-caps;
  font-weight: 700;
  margin: 0 auto rem(11) auto;
  span {
    font-size: rem(13);
  }
  @include MQ(L) {
    font-size: rem(18);
  }
}

.center {
  text-align: center;
}

.img-center {
  display: block;
  margin: auto;
  img {
    display: block;
    margin: auto;
    max-width: 100%;
  }
}

.text-part-p {
  line-height: 1.6;
  font-weight: 400;
  margin-bottom: rem(14);
  font-size: rem(18);

  @include MQ(M) {
    line-height: 2;
    margin-bottom: rem(20);
  }
  @include MQ(L) {
    font-size: rem(22);
  }
  &.question{
    margin-bottom: 0;
  }
  &.moodboard-text {
    font-size: rem(16);
    line-height: 1.8 !important;
    @include MQ(L) {
      font-size: rem(20);
      min-height: 90px;
    }
  }

}

.img-caption {
  text-align: left;
  font-size: 10px;
}

.footer-title {
  padding-bottom: 5%;
  text-align: center;
  @include MQ(M) {
    padding-bottom: 0;
    margin-left: 9%;
    text-align: left;
  }
  text-transform: uppercase;
  font-size: rem(12);
  font-weight: 500;
  color: $dark-gold;
  a {
    color: $dark-gold;
  }
}

.footer-text {
  text-transform: uppercase;
  font-size: rem(12);
  color: $dark-gold;
  font-weight: 500;
  padding-top: 5%;
  @include MQ(M) {
    padding-top: 0;
  }
  a {
    color: $dark-gold;
    text-decoration: underline;
  }
}

.footer {
  @include leftfloat;
  padding: 5% 30%;
  @include MQ(M) {
    width: 16%;
    padding: 2%;
    margin: 0 auto;
  }
  background-color: #f7f7f7;
  img {
    opacity: 1;
    filter: alpha(opacity=100);
  }

  img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
}

.footer-left {
  @include MQ(M) {
   margin-left: 18% !important;
 }

}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  margin-top: 24px;
  color: $gold;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid $gold;
  cursor: pointer;
  box-sizing: border-box;
  @include MQ(L) {
    height: 55px;
    font-size: 16px;
    margin-top: 30px;
    padding: 0 40px;
  }

}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: white;
  border-color: $gold;
  background-color: $gold;
  outline: 0;
  opacity: 1; }
    // .button.button-primary,
    // button.button-primary,
    // input[type="submit"].button-primary,
    // input[type="reset"].button-primary,
    // input[type="button"].button-primary {
    //   color: $color-4;
    //   background-color: #33C3F0;
    //   border-color: $color-4; }
    //   .button.button-primary:hover,
    //   button.button-primary:hover,
    //   input[type="submit"].button-primary:hover,
    //   input[type="reset"].button-primary:hover,
    //   input[type="button"].button-primary:hover,
    //   .button.button-primary:focus,
    //   button.button-primary:focus,
    //   input[type="submit"].button-primary:focus,
    //   input[type="reset"].button-primary:focus,
    //   input[type="button"].button-primary:focus {
    //     color: $color-4;
    //     background-color: #1EAEDB;
    //     border-color: $color-4; }

/* --------------------------------

AMMA

-------------------------------- */

.intro-title {
  font-size: rem(38);
  font-weight: 400;
  font-family: 'Rufina', serif;
  @include MQ(M) {
    font-size: rem(50);
    padding-bottom: rem(32);
  }
  @include MQ(L) {
    font-size: 60px;
  }
}

.intro-subtitle {
  max-width: 80%;
  line-height: 1.5;
  padding-bottom: rem(20);
  font-family: 'Vollkorn', serif;
  font-style: italic;
  font-size: 1.2rem;
  @include MQ(M) {
    font-size: 1.6rem;
    padding-bottom: rem(40);
  }
  @include MQ(L) {
    font-size: 30px;
  }
  font-weight: 500;
}

.intro-p {
  font-size: rem(11);
  padding: 0 11% rem(5) 11%;
  @include MQ(M) {
    font-size: rem(14);
  }
  @include MQ(L) {
    font-size: rem(18);
    padding: 0;
    padding-bottom: rem(7);
  }
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Neuzeit Grotesk', sans-serif;
  letter-spacing: rem(0.4);
}

#amma-phone {
  margin-top: 1%;
  @include MQ(M) {
    padding-left: 6.2%;
    padding-right: 6.2%;
  }
}
.amma-personas {
  @include MQ(M) {
    margin-left: 23%;
    margin-right: 23%;
  }
}

.persona {
  width: 100%;
  margin: 10px auto;
}

.amma-graph-left-wrapper {
  @extend .left-wrapper;
  @include MQ(M) {
    padding-left: 17%;
    padding-right: 0%;
  }
}

.amma-graph-right-wrapper {
  @extend .right-wrapper;
  @include MQ(M) {
    padding-left: 0%;
    padding-right: 17%;
  }
}

.amma-graph-title {
  margin: -8% auto 30px auto;
  font-size: rem(11);
  font-weight: 600;
  line-height: 2;
  @include MQ(L) {
    font-size: rem(16);
  }
}
.amma-graph {
  padding: 12%;
}

#amma-users {
  margin-top: -2%;
  @include MQ(L) {
    margin-top: -5.5%;
  }
}
#amma-results-title {
  @include MQ(M) {
    margin-bottom: 40px;
  }
}

#amma-stage2 {
  margin-top: -20px;
}
#amma-app-map-title {
  margin-top: -40px;
  margin-bottom: -5px;
  @include MQ(M) {
    margin-top: -70px;
  }
}
#amma-app-map {
  @include MQ(M) {
    max-width: 75%;
    padding-right: 2%;
  }
  @include MQ(L) {
    max-width: 56%;
  }
}

#amma-comp-analysis {
  padding: 0 11%;
  margin-bottom: rem(30);
  @include MQ(M) {
    margin-bottom: rem(70);
    padding: 0;
  }
}
#amma-feature-matrix-title {
  margin-top: 10px;
  background: none;
}
#amma-feature-matrix {
  margin-bottom: 7%;
  @include MQ(M) {
    max-width: 57.5%;
    margin-bottom: 0;
  }
  @include MQ(L) {
    max-width: 50%;
  }
}

#amma-sketch1-title {
  margin-top: -11px;
  @include MQ(M) {
    padding-top: 30px;
    margin-top: 10px;
  }

}

#amma-sketch1 {
  margin-bottom: rem(30);
  @include MQ(M) {
    max-width: 50%;
    margin-bottom: rem(50);
  }
  @include MQ(L) {
    max-width: 30%;
  }
}

#amma-lowfi-wf {
  margin-top: 5%;
  margin-bottom: 2%;
  @include leftfloat;
  @include MQ(M) {
    margin: 5% 10% 2% 10%;
    max-width: 80%;
  }
  margin: 0 auto;
  #amma-lowfi4, #amma-lowfi3 {
    @include leftfloat;
    img {
      @include leftfloat;
      max-width: 20%;

    }
  }
  #amma-lowfi4 img {
    margin: 0 3.33%;
    &.amma-lowfi-wf-left {
      margin-left: 0 !important;
    }
    &.amma-lowfi-wf-right {
      margin-right: 0 !important;
    }
  }
  #amma-lowfi3 img {
    margin: 0 3.33%;
    &.amma-lowfi-wf-left {
      margin-left: 13.33% !important;
    }
    &.amma-lowfi-wf-right {
      margin-right: 13.33% !important;
    }
  }
}

#amma-prio {
  margin-top: 5%;
}
#amma-ui-title, #prahs-ui-title {
  margin-top: -30px;
  margin-bottom: rem(30);
  @include MQ(M) {
    margin-bottom: rem(110);
    margin-top: -44px;
  }
}

.moodboard-left {
  .text-part-p {

    line-height: 1.5;
  }
  @include MQ(M) {

    padding-left: 7% !important;
    padding-right: 4% !important;
  }
}
.moodboard-right {
  .text-part-p {

    line-height: 1.5;
  }
  @include MQ(M) {

    padding-left: 4% !important;
    padding-right: 7% !important;
  }
}

#amma-moodboard1, #amma-moodboard2 {
  @include MQ(M) {
    margin-left: -1%;
  }

}

#amma-moodboard1 {
  margin-top: 7.5%;
}

#amma-moodboard2 {
  margin-top: 8%;
  @include MQ(M) {
    padding-right: 5.6%;
  }
}

#amma-styletiles {
  margin-bottom: 2%;
  @include MQ(M) {
    margin-left: 19%;
    margin-right: 19%;
  }

}
.styletile {
  @include leftfloat;
  img {
    background-color: white;
  }
  .img-title {
    margin-left: 0;
    padding-left: 0;
    padding-bottom: 5%;
    &.amma-styletile-title {
      padding-top: 3%;
      padding-bottom: 0;
    }
  }
  &.left, &.right {
    padding: 0 7%;
  }
  @include MQ(M) {
    width: 50%;
    &.left {
      padding-right: 2.6%;
    }

    &.right {
      padding-left: 2.6%;
    }
  }
}

#amma-brand-guide, #amma-final-iterations{
  @include MQ(M) {
    max-width: 70%;
  }
  @include MQ(L) {
    max-width: 60%;
  }
}

#amma-user-testing {
  @include MQ(M) {
    max-width: 60%;
  }
  margin: 1% auto;
}

#amma-fi-title {
  padding-bottom: rem(30);
}

#amma-f-m, #dm-sketch-link {
  text-decoration: underline;
}

#am-fi-title {
  @include MQ(M) {
    margin-bottom: rem(30);
  }
}

#amma-fi-subtitle {
  margin-bottom: rem(30);
  @include MQ(M) {
    margin-bottom: rem(60);
  }
}

#am-reiteration {
  max-width: 70%;
  @include MQ(M) {
    margin-bottom: rem(60);
  }
}

/* --------------------------------

AMMA Detailed Results

-------------------------------- */

#back-button {
  color: $pink;
  border-color: $pink;
  &:hover, &:focus {
    background-color: $pink;
    color: white;
    opacity: 1;

  }
}
/* --------------------------------

Dignity Meals

-------------------------------- */

#dm-phone {
  @include MQ(M) {
    width: 18%;
    margin-top: 4.6%;
  }

}
.persona-tile {
  img {
    @include MQ(M) {
      max-width: 95% !important;
    }

  }
}

#dm-facts, #dm-facts-truck {
  @include MQ(M) {
    padding-left: 35%;
    padding-right: 35%;
  }

  @include MQ(L) {
    padding-left: 40%;
    padding-right: 40%;
  }
}

#dm-userflow {
  margin-top: rem(40);
  margin-bottom: rem(30);
  @include MQ(M) {
    max-width: 80%;
    margin-top: rem(110);
    margin-bottom: rem(85);
  }
}

#dm-app-map {
  @include MQ(M) {
    padding-left: 26.2%;
    padding-right: 26.2%;
    margin-top: 1%;
  }

}

#dm-ux-strat-title {
  margin-bottom: rem(40);
}

.bg-purple {
  background-color: $purple;
  color: white;
  .work-title {
    color: white;
  }
  .text-part .text-part-p {
    color: white;
    margin-bottom: 40px;
  }
  .text-part-ul span {
    color: white;
  }
}

#dm-lowfi-wireframes {
  @include MQ(M) {
    margin-left: 15%;
    margin-right: 15%;
  }
}

img.dm-lowfi-wireframe {
  margin: 0 auto;
}
#dm-lowfi-wf-title {
    @include MQ(M) {
  padding-bottom: rem(70);
  }

}
.dm-wf-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: rem(11);
  margin-bottom: rem(12);
  @include MQ(M) {
    margin-left: -56%;
    text-align: left;
  }
}

#dm-lowfi-wf1 {
  margin-top: -7px;
}

#dm-lowfi-wf2 {
  margin-top: 3px;
}

#dm-styletile {
  @include MQ(M) {
    max-width: 60%;
  }
}

#dm-ui-title {
  margin-top: -44px;
  margin-bottom: rem(20);
    @include MQ(M) {
  margin-bottom: rem(60);
  }
}

#dm-final-iterations {
  max-width: 80%;
  margin: auto;
}

#dm-fi-title {
  @include MQ(M) {
    margin-bottom: rem(30);
  }
}

#dm-reiteration {
  max-width: 80%;
}

/* --------------------------------

Instashop

-------------------------------- */

#is-phone {
  margin-top: rem(25);
  @include MQ(M) {
    padding-left: 11.8%;
    padding-right: 11.8%;
    margin-top: rem(60);
  }
  @include MQ(L) {
    padding-left: 10%;
    padding-right: 10%;
  }
}

#vid-top {
  position: absolute;
  z-index: 100;
  left: 41.85%;
  top: 45%;
  width: 16.3%;
  border-style: solid;
  border-width: 1.25px;
  border-color: $dark-gray;
}
#is-challenge {
  padding-right: 20%;
}

.text-2-column {
  @include leftfloat;
  padding: 0 7.5%;
  @include MQ(M) {
    padding-left: 27%;
    padding-right: 5%;
    .left-wrapper {
      padding: 0;
    }
    .right-wrapper {
      padding: 0;
    }
  }

}

.is-goals {
  @include MQ(M) {
    margin-left: -2em !important;
  }
}

#is-business-goals {
  @include MQ(M) {
    padding-right: 2em !important;
  }
}

#is-business-goals, #is-user-goals {
  .text-part-ul {
    font-size: rem(18);
  }
}
#is-userflow {
  padding-left: 20%;
  padding-right: 20%;
  margin: 10px auto;
}

#is-ia {
  padding-left: 12%;
  padding-right: 12%;
}

#is-wf-ul, #amma-ut-ul {
  padding-left: 0;
  li {
    padding-left: 0;
  }
}

#is-last-desktop-wf {
  float: left;
}

.parentheses {
  font-size: rem(16);
}

#is-mobile-wf {
  @include MQ(M) {
    max-width: 47%;
  }
  margin: 0 auto;
  li img {
    @include leftfloat;
    margin: 5%;
    max-width: 23.33%;
  }
}

#is-desktop-wf-title {
  // margin-left: -13%;
}

#is-desktop-wf {
  @include MQ(M) {
    max-width: 47%;
  }
  margin: 0 auto;
  li img {
    @include leftfloat
  }
}

#is-ui-title {
  margin-top: -44px;
  margin-bottom: rem(40);
}

#is-ui-img {
  @include MQ(L) {
    padding-left: 8%;
    padding-right: 8%;
  }
}

#is-final-mobile-title {
  text-align: center;
  @include MQ(M) {
    margin-left: -31.5%;
    text-align: left;
  }
}

#is-final-mobile-wrapper {
  @include leftfloat;
  max-width: 80%;
}
.is-final-mobile {
  @include leftfloat;
  width: 16%;
  margin: 0 2%;
  margin-bottom: 4%;
  video {
    max-width: 100%;
  }
}

#is-video-wrapper {
  clear: both;
  margin: 0 auto;
  width: 100%;
  @include MQ(M) {
    width: 16%;
    margin: 0 2%;
    margin-bottom: 4%;
    clear: none;
  }
}

#is-video-title {
  text-align: center;
  margin-top: rem(40);
  @include MQ(M) {
    display: none;
  }
}
#vid {
  margin-bottom: -4.6%
}

#is-final-desktop-title {
  text-align: center;
  @include MQ(M) {
    margin-left: -24%;
    text-align: left;
  }
}

#is-final-web-wrapper {
  background-color: white;
}

.is-final-web-left {
  @include MQ(M) {
   padding-top: 1%;
   padding-bottom: 1%;
   padding-left: 16%;
   padding-right: 3%;
 }
}

.is-final-web-right {
  @include MQ(M) {
   padding-top: 1%;
   padding-bottom: 1%;
   padding-right: 16%;
   padding-left: 3%;
 }

}

.is-final-web-img {
  -webkit-box-shadow: -4px 10px 5px 0px rgba(217,217,217,0.11);
  -moz-box-shadow: -4px 10px 5px 0px rgba(217,217,217,0.11);
  box-shadow: -4px 10px 5px 0px rgba(217,217,217,0.11);
}
/* --------------------------------

Prahs

-------------------------------- */


.prahs-button {
  margin: auto;
  display: block;
  text-align: center;
}

.prahs-wrapper {
  @include leftfloat;
  padding: 0;
  text-align: center;
  display: block;
}

.prahs-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  @include MQ(M) {
    max-width: 60%;
  }
}

.prahs-desktop {
  display: none;
}

#prahs-desktop-img {
  margin-top: 8%;
  @include MQ(M) {
    max-width: 56%;
    margin-top: 4%;
  }
}
#prahs-mobile-iframe {
  transform: scale(0.7);
  margin-top: -8%;
}

#prahs-mobile-img {
  max-width: 78%;
  margin-top: 8%;
}

#prahs-stage2 {
  .unslider-nav ol li {
    border-color: $dark-blue;
    &.unslider-active {
      background-color: $dark-blue;
    }
  }
}

#prahs-final-refl {
  margin-top: 0;
  @include MQ(M) {
    margin-top: 10px;
  }
}
#prahs-moodboards {
  @include MQ(M) {
    margin: 0 27.5%;
  }
}

.text-part-prahs-mb {
  @extend .text-part;
  @include MQ(M) {
    padding-left: 0;
    padding-right: 0;
  }
  min-height: 15%;
}
.prahs-moodboard {
  margin: 0 auto rem(50);
}

#prahs-wf-left-wrapper {
  padding-left: 23%;
  padding-right: 8%;
}

#prahs-wf-right-wrapper {
  padding: 0 15.5%;
  @include MQ(M) {
    padding-left: 8%;
    padding-right: 23%;
  }
}

#prahs-mobile-wf-title {
  margin-left: -8%;
  margin-bottom: 0;
  @include MQ(M) {
    margin-top: rem(60);
  }
}

#prahs-desktop-wf-title {
  margin-bottom: 0;
  margin-left: 15%;
  margin-top: rem(60);
}

/* --------------------------------

About

-------------------------------- */

.about, .about-intro {
  font-weight: 500;
  color: $dark-gray;
  a {
    color: $gold;
  }
}

.about-intro {
  font-size: rem(14);
}

#intro-last-p {
  margin-bottom: 18%;
}
#arrow-down {
  width: rem(30);
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%,-87%);
}

.about {
  font-size: rem(14);
  margin-bottom: rem(2);
  &.job-description {
    line-height: 1.7;
    margin-bottom: rem(25);
  }
  span.location {
    font-family: 'Lora', serif;
    font-weight: 400;
  }
}

#about-intro-section, #contact-intro-section {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#resume-wrapper {
  background-color: #f7f7f7;
}

#resume-title {
  color: $dark-gray;
}

#resume-link {
  padding-bottom: 1%;
}
.resume-subtitle {
  margin-bottom: rem(6);
  color: $gold;
}

.about-right-wrapper {
  padding: 0 7%;
  @include MQ(M) {
    width: 50%;
    padding-right: 17%;
    padding-left: 6%;
  }
}

.about-left-wrapper {
  padding: 0 7%;
  @include MQ(M) {
    width: 50%;
    padding-right: 6%;
    padding-left: 17%;
  }
}
.date {
  font-size: rem(12) !important;
}

#tools, #concepts, #sprinklr-award {
  margin-bottom: rem(8);
}

/* --------------------------------

Contact

-------------------------------- */

#form-fields {
  @include leftfloat;
  padding-left: 12%;
  padding-right: 12%;
  @include MQ(M) {
    padding-left: 20%;
    padding-right: 20%;
  }
  @include MQ(L) {
    padding-left: 5%;
    padding-right: 5%;
  }

  .required {
    @include leftfloat;
    border: 1px solid transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: $gold !important;
    @include MQ(L) {
    border: 2px solid transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: $gold !important;
    }
    margin-bottom: 3.5%;
    text-align: left;
    width: 100%;
    padding-top: rem(12);
    padding-bottom: rem(12);
    padding-left: rem(8);
    color: $dark-gray;
    font-family: 'usual', sans-serif;
    font-weight: 600;
    font-size: rem(14);
    letter-spacing: 1px;
  }
  #message {
    border: 1px solid;
    border-color: $gold !important;
    @include MQ(L) {
      border: 2px solid;
    }
    margin-top: 6%;
    margin-bottom: 6%;
  }
  // input, select, textarea {
  //   color: $dark-gray;
  // }
  // textarea:focus, input:focus {
  //   color: $dark-gray;
  // }

  textarea {
    min-height: rem(160);
  }

  input[type="text"], input[type="email"], textarea, select {
    outline: none;
  }

  input.button {
    float: right;
    margin: 0;
    padding-left: 20%;
    padding-right: 20%;
    border-width: 1px;
    @include MQ(L) {
      border-width: 2px;
    }
    border-radius: 0;
    opacity: 1;
    font-family: 'usual', sans-serif;
    font-weight: 600;
    font-size: rem(16);
  }
}


/* --------------------------------

Nirvana

-------------------------------- */

#white-stripe {
  width: 100%;
  background-color: white;
  height: 10px;
  position: absolute;

}

.full-bleed {
  margin: 2% 8%;
  max-height: 100%;
}

/* --------------------------------

Cowboy's garden

-------------------------------- */

#cg-logo {
  padding: 0 20%;
  margin-top: 10%;
  @include MQ(M) {
    margin-bottom: rem(52);
    margin-top: 0;
    padding: 0 27%;
  }
  img {
    @include MQ(M) {
      max-width: 50%;
    }
  }
}

#cg-logo-text {
  line-height: 1.85;
  @include MQ(M) {
    margin-bottom: rem(40);
  }

}

#cg-wrapper {
  padding: 0 11%;
  @include MQ(M) {
    padding: 0 27%;
  }
}

#cg-menu, #cg-jar {
  padding: 0;
}

#cg-menu {
  display: none;
  @include MQ(M) {
    padding-right: 8%;
    display: block;
  }
}

#cg-jar {
  padding: 0 20%;
  @include MQ(M) {
    padding-left: 12%;
    padding-right: 8%;
  }

}

#cg-prev-title, #cg-prev1, #cg-prev2, #cg-prev3, #cg-prev4 {
  display: none;
  @include MQ(M) {
    display: block;
  }
}
#cg-prev-title {
  font-size: rem(12);
}
#cg-prev1 {
  padding: 9%;
  margin-bottom: -3%;
}

#cg-prev2 {
  padding: 12%;
  margin-bottom: -2%;
}

#cg-prev3 {
  padding: 8%;
  margin-bottom: -2%;
}

#cg-prev4 {
  padding: 10%;
}
/* --------------------------------

Mootown

-------------------------------- */

#mootown-logo {
  margin-bottom: 0;
  padding: 0 10%;
  img {
    @include MQ(M) {
      max-width: 60%;
      margin-bottom: 10px;
      padding: 0 15%;
    }
  }
}
/* --------------------------------

Homepage

-------------------------------- */

.cd-section {
  min-height: 50%;
  height: auto;
  position: relative;
  padding: 2em 0;
  width: 90%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;

  @include MQ(M) {
    min-height: 90%;
  }

  @include MQ(L) {
    min-height: 80%;
  }
}

#section1 {
  min-height: 50%;
  margin-bottom: 4%;
  @include MQ(M) {
    min-height: 100%;
  }
  #intro-text {
    text-align: center;
    z-index: 100;
    position: absolute;
    font-size: rem(16);
    color: $medium-gray;
    font-weight: 500;
    line-height: rem(30);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include MQ(M) {
      top: 22%;
      transform: translate(-50%,-87%);
      font-size: rem(18);
    }

    @include MQ(L) {
      font-size: rem(24);
      line-height: rem(44);
    }

    a {
      color: #c1ad73;

      &:hover {
        text-decoration: underline;
      }
    }

  }
}

#desk-svg, #desk-light-svg {
  display: none;
  @include MQ(M) {
    display: block;
    position: absolute;
    top: 54%;
    left: 53%;
    transform: translate(-50%,-50%);
    max-height: 95%;
  }

}

#intro-text {
  display: none;
}

.img-wrapper, .img-wrapper-br, .img-wrapper-dm {
  @include leftfloat;
  box-sizing: border-box;

  img {
    max-width:100%;
    height:auto;
    display:block;
    margin: 0 auto;
    &.svg-logo {
      max-width: 460px;
    }
  }
}

@include MQ(M) {
  .img-wrapper {
    width: 50%;
    padding-top: 5%;
    padding-right: 3.5%;
  }
  .img-wrapper-br {
    width: 30%;
  }
  .img-wrapper-dm {
    width: 28%;
    &.offset-left {
      margin-left: 8%;
    }
    &.offset-left-2 {
      margin-left: 22%;
    }
  }
  .offset-left {
    margin-left: 4.5%;
  }
}

@include MQ(L) {
  .img-wrapper {
    img.svg-logo {
      max-width: 540px;
      &#amma-users-img {
        max-width: 680px;
      }
    }
  }
}

.text-wrapper{
  @include leftfloat;
  color: $dark-gray;
  font-family: 'Rufina', serif;
  margin-bottom: 20%;
  margin-top: 6%;
  @include MQ(M) {
    width: 50%;
    padding-right: 3.5%;
    padding-left: 12%;
    margin-bottom: 0;
  }
  h2 {
    line-height: 1.6;
    padding-bottom: 17px;
    margin-left: -2px;
    font-size: rem(38);
    font-style: normal;
    font-weight: 400;
    color: $medium-gray;

    &.brand-title {
      margin-bottom: -25px;
      @include MQ(M) {
        padding-bottom: 40px;
        margin-top: -20px;
      }

    }
    @include MQ(L) {
      line-height: 2;
      font-size: rem(50);
    }
  }

  h3 {
    font-variant: small-caps;
    font-size: rem(16);
    padding-bottom: 29px;
    letter-spacing: 0.8px;
    font-weight: 800;
    margin-top: -8px;
    color: #b59f62;

    &#dm-subtitle {
      margin-top: -5px;
    }

    span {
      font-weight: normal;

      span {
        font-size: 12px;
      }
    }

    @include MQ(L) {
      font-size: rem(23);
      padding-bottom: 50px;
      span {
        span {
          font-size: rem(18);
        }
      }
    }
  }

  p {
    font-size: rem(17);
    word-spacing: -.1em;
    line-height: 1.7;

    @include MQ(M) {
      font-size: 12px;
      font-size: 1.075rem;

      letter-spacing: 0.01px;
      font-weight: 300;
    }

    @include MQ(L) {
      font-size: rem(22);
    }
    a {
      color: $dark-gray;
      font-weight: 700;
    }

  }

}

.new-row {
  clear: both !important;
}

.bookmark {
  position: fixed;
  top: 0;
  height: 67px;
  width: 100%;
  z-index: 100;
  @include MQ(M) {
    background: $light-gray;
    -webkit-box-shadow: 0px 2px 12px -1px rgba(112,112,112,0.36);
    -moz-box-shadow: 0px 2px 12px -1px rgba(112,112,112,0.36);
    box-shadow: 0px 2px 12px -1px rgba(112,112,112,0.36);
  }
  img {
    width: 50px;
    margin-left: 7%;
    @include MQ(M) {
      margin-left: 16.9%;
      width: 83px;
    }
  }
}

.work-nav {
  display: none;
  @include MQ(M) {
    display: block;
  }
  position: fixed;
  right: 7%;
  top: 0;
  @include MQ(M) {
    right: 16.9%;
  }
}

.work-nav-title {
  font-family: 'Rufina', serif;
  font-weight: 500;
  float: left;
  padding: 20px 20px 0 20px;
  height: 67px;
  line-height: 40px;
  border-right: 1px solid $dark-gray;
  vertical-align: baseline;
  font-size: rem(18);
}

.work-nav-index {
  font-family: 'Rufina', serif;
  font-weight: 500;
  float: left;
  padding: 0 12px;
  height: 67px;
  line-height: 40px;
  border-right: 1px solid $dark-gray;
  vertical-align: baseline;
  font-size: rem(22);
  a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: $dark-gray;
    height: 67px;
    padding-top: 20px;
  }
  &:hover {
    background: $dark-gray;
    a {
      color: white;
    }
  }
}

.work-nav-index-active {
  background: $dark-gray;
  a {
    color: white;
  }
}

.bookmark-headroom {
  position: fixed;
  top: 0;
  width: 90%;
  z-index: 100;
  margin-left: 7%;
  @include MQ(M) {
    margin-left: 16.9%;
  }
  img {
    width: 50px;
    @include MQ(M) {
      width: 83px;
    }
  }
}

// Vertical nav bar

.cd-scroll-down {
  position: absolute;
  @include center(x);
  bottom: 20px;
  width: 38px;
  height: 44px;
  background: url('../img/cd-arrow-bottom.svg') no-repeat center center;
}

/* No Touch devices */

.cd-nav-trigger {
  display: none;
}

.no-touch #cd-vertical-nav {
  position: fixed;
  right: 40px;
  @include center(y); // see partials > _mixins.scss
  z-index: 1;

  li {
    text-align: right;
  }

  a {
    display: inline-block;
    @include clearfix;

    /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
    @include backface-visibility(hidden);

    span {
      float: right;
      display: inline-block;
      @include transform(scale(.6));
    }

    &:hover span {
      @include transform(scale(1));
    }

    &:hover .cd-label {
      opacity: 1;
    }

    &.is-selected .cd-dot {
      background-color: $silver;
    }
  }

  .cd-dot {
    position: relative;
    /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
    top: 6px;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    border: 2px solid $silver;
    background-color: white;
    -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
    -moz-transition: -moz-transform 0.2s, background-color 0.5s;
    transition: transform 0.2s, background-color 0.5s;
    @include transform-origin(50% 50%);

    &#first-dot {
      border-radius: 0;
    }
  }

  .cd-label {
    position: relative;
    margin-right: 10px;
    padding: .4em .5em;
    color: $silver;
    @include font-size(14px);

    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    opacity: 0;
    @include transform-origin(100% 50%);
  }
}

/* Touch devices */

.touch .cd-nav-trigger {
  display: block;
  z-index: 2;
  position: fixed;
  bottom: 30px;
  right: 5%;
  height: 44px;
  width: 44px;
  @include border-radius;
  background: rgba($light-gray, .9);

  span {
    position: absolute;
    height: 4px;
    width: 4px;
    background-color: $dark-gray;
    border-radius: 50%;
    @include center;

    &::before, &::after {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      background-color: inherit;
      border-radius: inherit;
    }

    &::before {
      top: -9px;
    }

    &::after {
      bottom: -9px;
    }
  }
}

.touch #cd-vertical-nav {
  position: fixed;
  z-index: 1;
  right: 5%;
  bottom: 30px;
  width: 90%;
  max-width: 400px;
  max-height: 90%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  @include transform-origin(right bottom);
  @include transform(scale(0));
  @include transition-property(transform);
  @include transition-duration(.2s);
  @include border-radius;
  background-color: rgba($light-gray, .9);

  a {
    display: block;
    padding: 1em;
    border-bottom: 1px solid rgba($light-gray, .1);
    color: $dark-gray;
    span:first-child {
      display: none;
    }

    &.is-selected span:last-child {
      color: $gold;
    }
  }

  &.open {
    @include transform(scale(1));
  }

  &.open + .cd-nav-trigger {
    background-color: transparent;

    span {
      background-color: rgba($light-gray, 0);
    }

    span::before, span::after {
      background-color: rgba($light-gray, 1);
      height: 3px;
      width: 20px;
      border-radius: 0;
      left: -8px;
    }

    span::before {
      @include transform(rotate(45deg));
      top: 1px;
    }

    span::after {
      @include transform(rotate(135deg));
      bottom: 0;
    }
  }

  li:last-child a {
    border-bottom: none;
  }
}

@include MQ(M) {
  .touch .cd-nav-trigger, .touch #cd-vertical-nav {
    bottom: 40px;
  }
}

//Headroom

.headroom {
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear
}
.headroom--pinned {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%)
}
.headroom--unpinned {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%)
}

// Custom adjustments (per id)

#amma-name {
  font-variant: small-caps;
  font-size: 1.175rem;
  @include MQ(L) {
    font-size: 1.4rem;
  }
}

#nirvana {
  max-width: 75%;
}

#mootown {
  max-width: 75%;
}

#cbg {
  max-width: 75%;
}


#section7 {
  @include MQ(M) {
    margin-top: -100px;
    min-height: 80%;
  }
}

.selected {
  opacity:0.5;
  fill: #000;
}
