// colors

$color-1: #3e3947; // dark purple
$color-2: #745360; // light purple
$color-3: #d88683;
$color-4: #c1ad73; // gold
$color-5: #7f7977; //text gold
$pink: #f36094;
// fonts 

$primary-font: 'Ubuntu', sans-serif;

