// colors

$color-1: #3e3947; // dark purple
$color-2: #745360; // light purple
$dark-pink: #d88683;
$gold: #c1ad73; // gold
$dark-gold: #bfad55;
$silver: #7f7977;
$pink: #f36094;
$red: #c73b53;
$orange: #ffb43b;
$blue: #5fa4c2;
$dark-blue: #101A31;
$purple: #262642;
$light-gray: #f5f6f7;
$medium-gray: #7f7977;
$dark-gray: #555555;
$green: #89B628;
$dm-green: #08AD1D;
$dm-red: #BB2340;
$dm-yellow: #FFA71F;
$insta-purple: #5A073E;
$cg-orange: #F58727;

//Unslider
//  Unslider 2 has navigation styles pre-designed. You can turn it off here.
$unslider-dot-navigation: true;
$unslider-dot-colour: $dark-gray;

//  Unslider 2 has navigation styles pre-designed. You can turn it off here.
$unslider-transition-function: cubic-bezier(.42,0,.58,1);

// Set a namespace for Unslider
$unslider-namespace: 'unslider';
