/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* -------------------------------- 

Primary style

-------------------------------- */
/* line 21, ../sass/screen.scss */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../sass/screen.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 32, ../sass/screen.scss */
body {
  font-size: 100%;
  font-family: 'Neuzeit Grotesk', sans-serif;
  color: #000000;
  background-color: white;
}

/* line 39, ../sass/screen.scss */
body, html {
  height: 100%;
}

/* line 43, ../sass/screen.scss */
a {
  color: #3e3947;
  text-decoration: none;
}

/* line 48, ../sass/screen.scss */
img {
  max-width: 100%;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
/* line 57, ../sass/screen.scss */
.cd-img-replace {
  /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

/* -------------------------------- 

Main components 

-------------------------------- */
/* -------------------------------- 

Work pages

-------------------------------- */
/* line 77, ../sass/screen.scss */
.work-section {
  position: relative;
  padding: 2em 0;
  margin: 0 auto;
  padding: 0 0;
  box-sizing: border-box;
  width: 100%;
}

/* line 86, ../sass/screen.scss */
.work {
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  background-color: white;
  padding-bottom: 7%;
  padding-top: 7%;
  font-family: 'Libre Baskerville', serif;
  font-weight: 300;
  line-height: 1.7;
  font-size: 1rem;
}
/* line 98, ../sass/screen.scss */
.work * {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
/* line 101, ../sass/screen.scss */
.work.intro {
  margin-top: 5%;
  text-align: center;
  color: #9AA0A3;
}
/* line 107, ../sass/screen.scss */
.work img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
/* line 113, ../sass/screen.scss */
.work .text-part-ul span {
  color: #555555;
}

/* line 119, ../sass/screen.scss */
.grey {
  background-color: #f5f6f7;
  color: #555555;
}
/* line 124, ../sass/screen.scss */
.grey .text-part-ul span {
  color: #555555;
}

/* line 128, ../sass/screen.scss */
.no-bottom-padding {
  padding-bottom: 0 !important;
}

/* line 132, ../sass/screen.scss */
.no-top-padding {
  padding-top: 0 !important;
}

/* line 136, ../sass/screen.scss */
.no-bottom-margin {
  margin-bottom: 0 !important;
}

/* line 140, ../sass/screen.scss */
.padding-3pct {
  padding-top: 3%;
  padding-bottom: 3%;
}

/* line 145, ../sass/screen.scss */
.padding-top-3pct {
  padding-top: 3% !important;
}

/* line 149, ../sass/screen.scss */
.padding-bottom-3pct {
  padding-bottom: 3% !important;
}

/* line 153, ../sass/screen.scss */
.padding-top-5pct {
  padding-top: 5.5% !important;
}

/* line 157, ../sass/screen.scss */
.padding-bottom-5pct {
  padding-bottom: 5.5% !important;
}

/* line 161, ../sass/screen.scss */
.padding-9pct {
  padding-top: 9%;
  padding-bottom: 9%;
}

/* line 166, ../sass/screen.scss */
.padding-top-9pct {
  padding-top: 9% !important;
}

/* line 170, ../sass/screen.scss */
.padding-bottom-9pct {
  padding-bottom: 9% !important;
}

/* line 174, ../sass/screen.scss */
.padding-bottom-12pct {
  padding-bottom: 12%;
}

/* line 177, ../sass/screen.scss */
.blue {
  background-color: #182D46;
}
/* line 180, ../sass/screen.scss */
.blue .work-title {
  color: #f5f6f7;
}
/* line 184, ../sass/screen.scss */
.blue .text-part-p {
  color: white;
  margin-bottom: 40px;
}
/* line 188, ../sass/screen.scss */
.blue .text-part-ul span {
  color: white;
}

/* line 193, ../sass/screen.scss */
.phone {
  width: 43%;
  display: block;
  margin: 0 auto;
}
/* line 198, ../sass/screen.scss */
.phone img {
  margin: 6% auto 0 auto;
  padding-left: 3%;
}

/* line 204, ../sass/screen.scss */
.work-title {
  font-size: 3rem;
  color: #9AA0A3;
  font-weight: 300;
  text-align: center;
  padding-bottom: 16px;
}

/* line 212, ../sass/screen.scss */
.work-subtitle {
  text-transform: uppercase;
  margin: 0 auto;
  font-size: 0.875rem;
  font-weight: 600;
  text-align: center;
}
/* line 218, ../sass/screen.scss */
.work-subtitle.pink {
  color: #f36094;
}

/* line 221, ../sass/screen.scss */
.work-link {
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  text-decoration: underline;
  margin-top: -16px;
  margin-bottom: 80px;
}

/* line 230, ../sass/screen.scss */
.underline {
  width: 20%;
  margin-bottom: 70px;
}

/* line 235, ../sass/screen.scss */
.pink {
  color: #f36094;
}

/* line 236, ../sass/screen.scss */
.text-blue {
  color: #5fa4c2;
}

/* line 237, ../sass/screen.scss */
.red {
  color: #c73b53;
}

/* line 238, ../sass/screen.scss */
.orange {
  color: #ffb43b;
}

/* line 239, ../sass/screen.scss */
.purple {
  color: #262642;
}

/* line 241, ../sass/screen.scss */
.white-bg {
  background-color: white;
}

/* line 245, ../sass/screen.scss */
.text-img-part {
  width: 100%;
  float: left;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
}

/* line 249, ../sass/screen.scss */
.text-part {
  width: 100%;
  float: left;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 27%;
  margin-bottom: 10px;
  color: #45454D;
}
/* line 254, ../sass/screen.scss */
.text-part.img-title {
  margin-top: 10px;
  margin-bottom: -10px;
}

/* line 260, ../sass/screen.scss */
.right-wrapper {
  padding: 0;
}
@media only screen and (min-width: 768px) {
  /* line 260, ../sass/screen.scss */
  .right-wrapper {
    width: 50%;
    padding-right: 12%;
    padding-left: 5%;
  }
}

/* line 269, ../sass/screen.scss */
.left-wrapper {
  padding: 0;
}
@media only screen and (min-width: 768px) {
  /* line 269, ../sass/screen.scss */
  .left-wrapper {
    width: 50%;
    padding-right: 5%;
    padding-left: 12%;
  }
}

/* line 278, ../sass/screen.scss */
.bold {
  font-weight: 700;
}

/* line 282, ../sass/screen.scss */
.persona {
  width: 100%;
  margin: 10px auto;
  padding-left: 25%;
  padding-right: 27%;
}

/* line 289, ../sass/screen.scss */
#lisa {
  margin-top: -5px;
}

/* line 293, ../sass/screen.scss */
.text-part-ol {
  list-style-type: lower-roman;
  list-style-position: inside;
  margin-bottom: 20px;
}
/* line 297, ../sass/screen.scss */
.text-part-ol li {
  text-indent: -1em;
  padding-left: 1em;
}

/* line 303, ../sass/screen.scss */
.text-part-ul {
  list-style-type: square;
  list-style-position: inside;
  margin-bottom: 20px;
}
/* line 307, ../sass/screen.scss */
.text-part-ul li {
  text-indent: -1em;
  padding-left: 1em;
}
/* line 311, ../sass/screen.scss */
.text-part-ul.pink {
  color: #f36094;
}

/* line 314, ../sass/screen.scss */
.work-text-wrapper {
  width: 100%;
  float: left;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
}

/* line 320, ../sass/screen.scss */
.text-part-title {
  text-transform: uppercase;
  margin: 10px auto 20px auto;
  font-size: 0.875rem;
  font-weight: 600;
}
/* line 325, ../sass/screen.scss */
.text-part-title.pink {
  color: #f36094;
}

/* line 330, ../sass/screen.scss */
.center {
  text-align: center;
}

/* line 334, ../sass/screen.scss */
.img-center {
  display: block;
  margin: auto;
}
/* line 337, ../sass/screen.scss */
.img-center img {
  display: block;
  margin: auto;
  max-width: 100%;
}

/* line 344, ../sass/screen.scss */
.text-part-p {
  line-height: 2;
  font-weight: 300;
  margin-bottom: 20px;
  font-size: 1rem;
}
/* line 349, ../sass/screen.scss */
.text-part-p.question {
  margin-bottom: 0px;
}

/* line 354, ../sass/screen.scss */
.img-caption {
  text-align: left;
  font-size: 10px;
}

/* line 358, ../sass/screen.scss */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  margin-top: 24px;
  color: #c1ad73;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #c1ad73;
  cursor: pointer;
  box-sizing: border-box;
}

/* line 381, ../sass/screen.scss */
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #c1ad73;
  border-color: #c1ad73;
  outline: 0;
  opacity: 0.7;
}

/* -------------------------------- 

AMMA

-------------------------------- */
/* line 423, ../sass/screen.scss */
.intro-title {
  font-size: 3.125rem;
  font-weight: 300;
}

/* line 428, ../sass/screen.scss */
.intro-subtitle {
  font-size: 1rem;
  padding-bottom: 2.5rem;
  font-weight: 400;
}

/* line 434, ../sass/screen.scss */
.intro-p {
  padding-bottom: 0;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Neuzeit Grotesk', sans-serif;
}

/* line 442, ../sass/screen.scss */
#amma-users {
  margin-top: -2%;
}

/* line 445, ../sass/screen.scss */
#amma-results-title {
  margin-bottom: 40px;
}

/* line 449, ../sass/screen.scss */
#amma-stage2 {
  margin-top: -20px;
}

/* line 452, ../sass/screen.scss */
#amma-app-map-title {
  margin-bottom: -5px;
  margin-top: -70px;
}

@media only screen and (min-width: 768px) {
  /* line 457, ../sass/screen.scss */
  #amma-app-map {
    max-width: 75%;
    padding-right: 2%;
  }
}

/* line 464, ../sass/screen.scss */
#amma-feature-matrix-title {
  margin-top: 10px;
  background: none;
}

@media only screen and (min-width: 768px) {
  /* line 468, ../sass/screen.scss */
  #amma-feature-matrix {
    max-width: 57.5%;
  }
}

/* line 474, ../sass/screen.scss */
#amma-sketch1-title {
  padding-top: 30px;
}

/* line 477, ../sass/screen.scss */
#amma-sketch1 {
  margin-bottom: 3.125rem;
}
@media only screen and (min-width: 768px) {
  /* line 477, ../sass/screen.scss */
  #amma-sketch1 {
    max-width: 50%;
  }
}

/* line 484, ../sass/screen.scss */
#amma-sketch2 {
  margin-top: 2.1875rem;
  margin-bottom: 1.875rem;
}
@media only screen and (min-width: 768px) {
  /* line 484, ../sass/screen.scss */
  #amma-sketch2 {
    max-width: 50%;
  }
}

/* line 492, ../sass/screen.scss */
#amma-lowfi-wireframes {
  margin-top: 5rem;
  margin-bottom: 7.5rem;
}
@media only screen and (min-width: 768px) {
  /* line 492, ../sass/screen.scss */
  #amma-lowfi-wireframes {
    max-width: 80%;
  }
}

/* line 500, ../sass/screen.scss */
#amma-ui-title {
  margin-top: -44px;
  margin-bottom: 6.875rem;
}

/* line 506, ../sass/screen.scss */
.moodboard-left .text-part-p {
  line-height: 1.5;
}
@media only screen and (min-width: 768px) {
  /* line 505, ../sass/screen.scss */
  .moodboard-left {
    padding-left: 7% !important;
    padding-right: 4% !important;
  }
}

/* line 517, ../sass/screen.scss */
.moodboard-right .text-part-p {
  line-height: 1.5;
}
@media only screen and (min-width: 768px) {
  /* line 516, ../sass/screen.scss */
  .moodboard-right {
    padding-left: 4% !important;
    padding-right: 7% !important;
  }
}

/* line 528, ../sass/screen.scss */
#amma-moodboard1, #amma-moodboard2 {
  margin-left: -1%;
}

/* line 534, ../sass/screen.scss */
#amma-moodboard1 {
  margin-top: 7.5%;
}

/* line 538, ../sass/screen.scss */
#amma-moodboard2 {
  margin-top: 8%;
  padding-right: 5.6%;
}

/* line 542, ../sass/screen.scss */
.styletile {
  width: 100%;
  float: left;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
}
/* line 544, ../sass/screen.scss */
.styletile img {
  background-color: white;
}
/* line 547, ../sass/screen.scss */
.styletile .img-title {
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 5%;
}
@media only screen and (min-width: 768px) {
  /* line 542, ../sass/screen.scss */
  .styletile {
    width: 50%;
  }
  /* line 554, ../sass/screen.scss */
  .styletile.left {
    padding-left: 21.4%;
    padding-right: 2.6%;
  }
  /* line 559, ../sass/screen.scss */
  .styletile.right {
    padding-left: 2.6%;
    padding-right: 21.4%;
  }
}

@media only screen and (min-width: 768px) {
  /* line 566, ../sass/screen.scss */
  #amma-brand-guide {
    max-width: 80%;
  }
}

@media only screen and (min-width: 768px) {
  /* line 572, ../sass/screen.scss */
  #amma-user-testing {
    max-width: 60%;
  }
}

/* line 578, ../sass/screen.scss */
#amma-fi-title {
  padding-bottom: 1.875rem;
}

/* -------------------------------- 

Dignity Meals

-------------------------------- */
/* line 589, ../sass/screen.scss */
.persona-tile img {
  max-width: 95% !important;
}

/* line 594, ../sass/screen.scss */
#dm-userflow {
  margin-top: 6.875rem;
  margin-bottom: 5.3125rem;
}
@media only screen and (min-width: 768px) {
  /* line 594, ../sass/screen.scss */
  #dm-userflow {
    max-width: 80%;
  }
}

/* line 602, ../sass/screen.scss */
.bg-purple {
  background-color: #262642;
  color: white;
}
/* line 605, ../sass/screen.scss */
.bg-purple .work-title {
  color: white;
}
/* line 608, ../sass/screen.scss */
.bg-purple .text-part .text-part-p {
  color: white;
  margin-bottom: 40px;
}
/* line 614, ../sass/screen.scss */
.bg-purple .text-part-ul span {
  color: white;
}

/* line 619, ../sass/screen.scss */
#dm-sketch3 {
  margin-top: 2.1875rem;
  margin-bottom: 1.875rem;
}
@media only screen and (min-width: 768px) {
  /* line 619, ../sass/screen.scss */
  #dm-sketch3 {
    max-width: 60%;
  }
}

/* line 627, ../sass/screen.scss */
img.dm-highfi-wireframes {
  margin-bottom: 5rem;
}
@media only screen and (min-width: 768px) {
  /* line 627, ../sass/screen.scss */
  img.dm-highfi-wireframes {
    max-width: 75%;
  }
}

/* line 633, ../sass/screen.scss */
#dm-highfi-wf-title {
  padding-bottom: 4.375rem;
}

/* line 636, ../sass/screen.scss */
.dm-wf-title {
  text-transform: uppercase;
  font-weight: 600;
  text-align: left;
  margin-left: -29%;
  font-size: 0.6875rem;
  margin-bottom: 0.75rem;
}

/* line 645, ../sass/screen.scss */
#dm-highfi-wf1 {
  margin-top: -7px;
}

/* line 649, ../sass/screen.scss */
#dm-highfi-wf2 {
  margin-top: 3px;
}

@media only screen and (min-width: 768px) {
  /* line 653, ../sass/screen.scss */
  #dm-styletile {
    max-width: 60%;
  }
}

/* -------------------------------- 

Prahs

-------------------------------- */
/* line 665, ../sass/screen.scss */
.prahs-button {
  margin: auto;
  display: block;
  text-align: center;
}

/* line 671, ../sass/screen.scss */
.prahs-wrapper {
  padding: 7%;
  text-align: center;
  display: block;
}

/* line 676, ../sass/screen.scss */
.prahs-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
@media only screen and (min-width: 768px) {
  /* line 676, ../sass/screen.scss */
  .prahs-image {
    max-width: 80%;
  }
}

@media only screen and (min-width: 768px) {
  /* line 686, ../sass/screen.scss */
  #prahs-desktop {
    max-width: 60%;
  }
}

/* line 691, ../sass/screen.scss */
.prahs-mobile {
  display: none;
}

/* -------------------------------- 

Homepage

-------------------------------- */
/* line 723, ../sass/screen.scss */
.cd-section {
  min-height: 100%;
  position: relative;
  padding: 2em 0;
  width: 90%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
@media only screen and (min-width: 768px) {
  /* line 723, ../sass/screen.scss */
  .cd-section {
    min-height: 90%;
  }
}

/* line 737, ../sass/screen.scss */
#section1 {
  min-height: 100%;
  margin-bottom: 4%;
}
/* line 741, ../sass/screen.scss */
#section1 #intro-text {
  text-align: center;
  position: absolute;
  top: 87%;
  left: 50%;
  transform: translate(-50%, -87%);
  font-size: 16px;
  color: #7f7977;
  font-weight: 500;
  line-height: 30px;
}
/* line 752, ../sass/screen.scss */
#section1 #intro-text a {
  color: #c1ad73;
}
/* line 755, ../sass/screen.scss */
#section1 #intro-text a:hover {
  text-decoration: underline;
}

/* line 762, ../sass/screen.scss */
#desk-svg, #desk-light-svg {
  position: absolute;
  top: 45%;
  left: 53%;
  transform: translate(-50%, -50%);
  max-height: 95%;
}

/* line 770, ../sass/screen.scss */
#intro-text {
  display: none;
}

/* line 774, ../sass/screen.scss */
.img-wrapper, .img-wrapper-br, .img-wrapper-dm {
  width: 100%;
  float: left;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
  box-sizing: border-box;
}
/* line 778, ../sass/screen.scss */
.img-wrapper img, .img-wrapper-br img, .img-wrapper-dm img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
/* line 783, ../sass/screen.scss */
.img-wrapper img.svg-logo, .img-wrapper-br img.svg-logo, .img-wrapper-dm img.svg-logo {
  max-width: 380px;
}

@media only screen and (min-width: 768px) {
  /* line 790, ../sass/screen.scss */
  .img-wrapper {
    width: 50%;
    padding-top: 5%;
    padding-right: 3.5%;
  }

  /* line 795, ../sass/screen.scss */
  .img-wrapper-br {
    width: 30%;
  }

  /* line 798, ../sass/screen.scss */
  .img-wrapper-dm {
    width: 28%;
  }
  /* line 800, ../sass/screen.scss */
  .img-wrapper-dm.offset-left {
    margin-left: 8%;
  }

  /* line 804, ../sass/screen.scss */
  .offset-left {
    margin-left: 4.5%;
  }
}
/* line 809, ../sass/screen.scss */
.text-wrapper {
  width: 100%;
  float: left;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
  color: #555555;
  font-family: 'Amiri', serif;
  margin-bottom: 20%;
}
@media only screen and (min-width: 768px) {
  /* line 809, ../sass/screen.scss */
  .text-wrapper {
    width: 50%;
    margin-top: 6%;
    padding-right: 3.5%;
    padding-left: 12%;
    margin-bottom: 0;
  }
}
/* line 822, ../sass/screen.scss */
.text-wrapper h2 {
  line-height: 1.6;
  padding-bottom: 17px;
  margin-left: -2px;
  font-size: 34px;
  font-family: "usual light",sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #7f7977;
}
/* line 832, ../sass/screen.scss */
.text-wrapper h2.brand-title {
  padding-bottom: 40px;
  margin-top: -20px;
}
/* line 838, ../sass/screen.scss */
.text-wrapper h3 {
  font-variant: small-caps;
  font-size: 16px;
  padding-bottom: 29px;
  letter-spacing: 0.8px;
  font-weight: 800;
  margin-top: -8px;
  color: #b59f62;
}
/* line 847, ../sass/screen.scss */
.text-wrapper h3#dm-subtitle {
  margin-top: -5px;
}
/* line 851, ../sass/screen.scss */
.text-wrapper h3 span {
  font-weight: normal;
}
/* line 854, ../sass/screen.scss */
.text-wrapper h3 span span {
  font-size: 12px;
}
/* line 860, ../sass/screen.scss */
.text-wrapper p {
  font-size: 14px;
  font-size: 1rem;
  word-spacing: -.1em;
}
@media only screen and (min-width: 768px) {
  /* line 860, ../sass/screen.scss */
  .text-wrapper p {
    font-size: 12px;
    font-size: 1.075rem;
    line-height: 1.5;
    letter-spacing: 0.01px;
    font-weight: 300;
  }
}
/* line 872, ../sass/screen.scss */
.text-wrapper p a {
  color: #555555;
  font-weight: 700;
}

/* line 881, ../sass/screen.scss */
.new-row {
  clear: both;
}

/* line 885, ../sass/screen.scss */
.bookmark {
  position: fixed;
  width: 90%;
  top: 0;
  z-index: 100;
  margin-left: 16.9%;
}

/* line 895, ../sass/screen.scss */
.cd-scroll-down {
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 20px;
  width: 38px;
  height: 44px;
  background: url("../img/cd-arrow-bottom.svg") no-repeat center center;
}

/* No Touch devices */
/* line 906, ../sass/screen.scss */
.cd-nav-trigger {
  display: none;
}

/* line 910, ../sass/screen.scss */
.no-touch #cd-vertical-nav {
  position: fixed;
  right: 40px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}
/* line 916, ../sass/screen.scss */
.no-touch #cd-vertical-nav li {
  text-align: right;
}
/* line 920, ../sass/screen.scss */
.no-touch #cd-vertical-nav a {
  display: inline-block;
  /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 20, ../sass/bourbon/addons/_clearfix.scss */
.no-touch #cd-vertical-nav a::after {
  clear: both;
  content: "";
  display: table;
}
/* line 927, ../sass/screen.scss */
.no-touch #cd-vertical-nav a span {
  float: right;
  display: inline-block;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
}
/* line 933, ../sass/screen.scss */
.no-touch #cd-vertical-nav a:hover span {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* line 937, ../sass/screen.scss */
.no-touch #cd-vertical-nav a:hover .cd-label {
  opacity: 1;
}
/* line 941, ../sass/screen.scss */
.no-touch #cd-vertical-nav a.is-selected .cd-dot {
  background-color: #7f7977;
}
/* line 946, ../sass/screen.scss */
.no-touch #cd-vertical-nav .cd-dot {
  position: relative;
  /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
  top: 6px;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border: 2px solid #7f7977;
  background-color: white;
  -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
  -moz-transition: -moz-transform 0.2s, background-color 0.5s;
  transition: transform 0.2s, background-color 0.5s;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
/* line 960, ../sass/screen.scss */
.no-touch #cd-vertical-nav .cd-dot#first-dot {
  border-radius: 0;
}
/* line 965, ../sass/screen.scss */
.no-touch #cd-vertical-nav .cd-label {
  position: relative;
  margin-right: 10px;
  padding: .4em .5em;
  color: #7f7977;
  font-size: 14px;
  font-size: 0.875rem;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  opacity: 0;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

/* Touch devices */
/* line 982, ../sass/screen.scss */
.touch .cd-nav-trigger {
  display: block;
  z-index: 2;
  position: fixed;
  bottom: 30px;
  right: 5%;
  height: 44px;
  width: 44px;
  border-radius: 0.25em;
  background: rgba(127, 121, 119, 0.9);
}
/* line 993, ../sass/screen.scss */
.touch .cd-nav-trigger span {
  position: absolute;
  height: 4px;
  width: 4px;
  background-color: #3e3947;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
/* line 1001, ../sass/screen.scss */
.touch .cd-nav-trigger span::before, .touch .cd-nav-trigger span::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: inherit;
  border-radius: inherit;
}
/* line 1011, ../sass/screen.scss */
.touch .cd-nav-trigger span::before {
  top: -9px;
}
/* line 1015, ../sass/screen.scss */
.touch .cd-nav-trigger span::after {
  bottom: -9px;
}

/* line 1021, ../sass/screen.scss */
.touch #cd-vertical-nav {
  position: fixed;
  z-index: 1;
  right: 5%;
  bottom: 30px;
  width: 90%;
  max-width: 400px;
  max-height: 90%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border-radius: 0.25em;
  background-color: rgba(127, 121, 119, 0.9);
}
/* line 1038, ../sass/screen.scss */
.touch #cd-vertical-nav a {
  display: block;
  padding: 1em;
  border-bottom: 1px solid rgba(62, 57, 71, 0.1);
}
/* line 1043, ../sass/screen.scss */
.touch #cd-vertical-nav a span:first-child {
  display: none;
}
/* line 1047, ../sass/screen.scss */
.touch #cd-vertical-nav a.is-selected span:last-child {
  color: #d88683;
}
/* line 1052, ../sass/screen.scss */
.touch #cd-vertical-nav.open {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* line 1056, ../sass/screen.scss */
.touch #cd-vertical-nav.open + .cd-nav-trigger {
  background-color: transparent;
}
/* line 1059, ../sass/screen.scss */
.touch #cd-vertical-nav.open + .cd-nav-trigger span {
  background-color: rgba(62, 57, 71, 0);
}
/* line 1063, ../sass/screen.scss */
.touch #cd-vertical-nav.open + .cd-nav-trigger span::before, .touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
  background-color: #3e3947;
  height: 3px;
  width: 20px;
  border-radius: 0;
  left: -8px;
}
/* line 1071, ../sass/screen.scss */
.touch #cd-vertical-nav.open + .cd-nav-trigger span::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 1px;
}
/* line 1076, ../sass/screen.scss */
.touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  bottom: 0;
}
/* line 1082, ../sass/screen.scss */
.touch #cd-vertical-nav li:last-child a {
  border-bottom: none;
}

@media only screen and (min-width: 768px) {
  /* line 1088, ../sass/screen.scss */
  .touch .cd-nav-trigger, .touch #cd-vertical-nav {
    bottom: 40px;
  }
}
/* line 1095, ../sass/screen.scss */
.headroom {
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}

/* line 1102, ../sass/screen.scss */
.headroom--pinned {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}

/* line 1109, ../sass/screen.scss */
.headroom--unpinned {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}

/* line 1119, ../sass/screen.scss */
#instashop {
  max-width: 382px;
}

/* line 1123, ../sass/screen.scss */
#amma-name {
  font-variant: small-caps;
  font-size: 1.175rem;
}

/* line 1128, ../sass/screen.scss */
#nirvana {
  max-width: 75%;
}

/* line 1132, ../sass/screen.scss */
#mootown {
  max-width: 75%;
}
@media only screen and (min-width: 768px) {
  /* line 1132, ../sass/screen.scss */
  #mootown {
    margin-top: -6px;
  }
}

@media only screen and (min-width: 768px) {
  /* line 1139, ../sass/screen.scss */
  #cbg {
    margin-top: 4px;
  }
}

@media only screen and (min-width: 768px) {
  /* line 1145, ../sass/screen.scss */
  #section7 {
    margin-top: -100px;
  }
}
